@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 54.2%, 32.5%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 43.5%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  padding: 6.5rem 0 0 0;
}
p {
  line-height: 2.5rem;
}
a {
  text-decoration: none;
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
.headings {
  font-family: "Raleway", sans-serif;
  color: var(--Very-Dark-Blue);
  font-size: 3.5rem;
  margin-bottom: 2.7rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  margin-bottom: 8rem;
}
.main-nav {
  display: flex;
  gap: 5rem;
}
.main-nav a {
  font-family: "Raleway", sans-serif;
  color: var(--Very-Dark-Blue);
}
.form-article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 17.5rem;
  padding: 0 8rem;
}
.illustration {
  width: 100%;
}
.form-div {
  max-width: 53rem;
}
.desc {
  color: var(--Very-Dark-Blue);
  margin-bottom: 2rem;
}

.main-input {
  width: 55%;
  padding: 1rem 2rem;
  /* margin-right: 1rem; */
  min-width: 27.2rem;
}
.main-button {
  border: none;
  background-color: var(--Bright-Blue);
  color: white;
  padding: 1rem 2rem;
  width: 35%;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  border-radius: 0.5rem;
}
.main-button:hover {
  background-color: hsla(224, 93%, 58%, 0.801);
}
.article-form {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.grayish-blue-bg {
  background-color: #f8f8fe;
  padding: 7rem 8rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.curve-bg {
  display: block;
  max-width: 100%;
}
.desc-div {
  max-width: 52rem;
}
.testimonial-article h2 {
  margin-bottom: 3.5rem;
}

.fylo-work-link {
  color: var(--Moderate-Cyan);
  border-bottom: 0.1rem solid var(--Moderate-Cyan);
  margin-bottom: 4rem;
  display: block;
  padding: 0.5rem 0;
  max-width: fit-content;
}
.fylo-work-link:hover {
  color: #44d7b6;
  border-bottom-color: #44d7b6;
}
.fa-circle-right {
  margin-left: 0.3rem;
}

.testimonial-card {
  display: flex;
  flex-direction: column-reverse;
  background-color: white;
  padding: 3.5rem;
  max-width: 40rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 11px 8px rgb(240, 239, 245);
  -webkit-box-shadow: 0px 0px 11px 8px rgb(240, 239, 245);
  -moz-box-shadow: 0px 0px 11px 8px rgb(240, 239, 245);
  background-image: url(./images/icon-quotes.svg);
  background-repeat: no-repeat;
  background-position: top 11% left 9%;
  min-width: 27.2rem;
}
.form-div,
.form-picture,
.testimonial-article,
.testimonial-picture {
  flex: 1;
}
.testimonial-desc {
  font-size: 1.3rem;
}
.user-img {
  max-width: 5rem;
  border-radius: 50%;
}
.user-info-div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.name-div {
  font-size: 1.3rem;
}
.name-div h3 {
  font-family: "Raleway", sans-serif;
}
.user-info {
  font-size: 1.1rem;
  color: var(--Light-Gray);
}
aside {
  background-color: var(--Desaturated-Blue);
  color: white;
  padding: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33.4rem, 1fr));
  align-items: center;
  gap: 10rem;
}
.early-access {
  max-width: 50rem;
}
.early-access h2 {
  color: inherit;
}
.aside-input {
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  min-width: 27.2rem;
}
.aside-btn {
  border: none;
  background-color: var(--Bright-Blue);
  color: white;
  padding: 1rem 2rem;
  width: 35%;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  border-radius: 0.5rem;
  min-width: 27.2rem;
}
.aside-btn:hover {
  background-color: #6e9aff;
}

footer {
  background-color: var(--Very-Dark-Blue);
  padding: 8rem;
  color: white;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 4rem 18rem;
  align-items: start;
}
footer a {
  color: var(--Light-Grayish-Blue);
}
.attribution {
  font-size: 11px;
  text-align: center;
  grid-row: 3;
  justify-self: center;
  grid-column: 1 / -1;
}
.attribution a {
  color: tomato;
}
.footer-fylo-section {
  grid-column: 1 / -1;
}
.contact-info-div {
  display: grid;
  gap: 1.5rem;
}
.contact-info-div img {
  margin-right: 1rem;
}
.social-icon {
  display: flex;
  gap: 1.5rem;
}

.social-icon a {
  border: 1px solid var(--Light-Grayish-Blue);
  border-radius: 50%;
  text-align: center;
  width: 3rem;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 8rem;
}
.footer-nav a:hover,
.social-icon a:hover {
  color: var(--Desaturated-Blue);
  border-color: var(--Desaturated-Blue);
}

@media screen and (max-width: 66em) {
  .main-input {
    width: 100%;
  }
  .main-button {
    width: 100%;
  }
}
@media screen and (max-width: 59em) {
  header,
  .form-article {
    padding: 0 2.4rem;
  }
  .grayish-blue-bg {
    padding: 7rem 2.4rem;
  }
  aside {
    padding: 8rem 2.4rem;
  }
  footer {
    padding: 8rem 2.4rem 3rem 2.4rem;
  }
}
@media screen and (max-width: 57em) {
  footer {
    grid-template-columns: 1fr;
  }
  .attribution {
    grid-row: 5;
  }
}

@media screen and (max-width: 51em) {
  aside {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  aside > * {
    max-width: 53rem;
    margin: 0 auto;
    width: 100%;
  }
  .early-access {
    text-align: center;
  }

  .form-article,
  .testimonial-article h2 {
    text-align: center;
  }
  .form-article,
  .grayish-blue-bg {
    flex-direction: column-reverse;
  }
  .grayish-blue-bg {
    align-items: center;
    justify-content: center;
  }
  .fylo-work-link {
    margin: 4rem auto;
  }
  .testimonial-card {
    margin: 0 auto;
  }

  .aside-btn {
    width: 100%;
    min-width: 27.2rem;
  }
  .main-button {
    min-width: 27.2rem;
  }
}
@media screen and (max-width: 47em) {
  .form-div h2 {
    font-size: 2.7rem;
  }

  .testimonial-article h2,
  .early-access h2 {
    font-size: 2.5rem;
  }

  .footer-nav {
    grid-template-columns: 1fr;
  }
  .footer-nav a:nth-child(2) {
    grid-row: 5;
    margin-top: 3rem;
  }
  .footer-nav a:nth-child(4) {
    grid-row: 6;
  }
  .footer-nav a:nth-child(6) {
    grid-row: 7;
  }
  .social-icon {
    justify-self: center;
  }
}

@media screen and (max-width: 38em) {
  header {
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (max-width: 27em) {
  .testimonial-card {
    background-position: top 10% left 10%;
  }
}

@media screen and (max-width: 24em) {
  .testimonial-card {
    background-position: top 9% left 12%;
  }
}
@media screen and (max-width: 20em) {
  .testimonial-card {
    background-position: top 9% left 14%;
  }
  footer > * {
    min-width: 27.2rem;
  }
  .social-icon {
    justify-content: center;
  }
}
